<!-- <ion-header>
  <ion-toolbar>
    <ion-title>options</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ioncontent-bg">
  <ion-grid>
    <ion-row style="margin-top:4rem">
      <ion-col>
        <ion-card routerLink="/single-tic-tac-toe">
          <ion-card-content>
            <span><h1>Single Player</h1></span>
            <span><input type="image" src="../../assets/images/arrow.png"  class="arrow-img"></span>           
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <ion-card routerLink="/double-tic-tac-toe">
          <ion-card-content>
            <h1>Double Player</h1>
            <input type="image" src="../../assets/images/arrow.png"  class="arrow-img">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <ion-card routerLink="/login">
          <ion-card-content>
            <h1>Play Online</h1>
            <input type="image" src="../../assets/images/arrow.png"  class="arrow-img">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


