ion-slides {
    height: 100%;
}

.ioncontent-bg {
	// --background: url("/assets/images/tic1.jpg") 0 0/100% 100% no-repeat;
	// --background: url("/assets/images/tic4.jpg") 0 0/100% 100% no-repeat;
	--background: url("/assets/images/wal32.gif") 0 0/100% 100% no-repeat
}

.slide-img {
    height: 6rem;
    margin-top: 20px;
    // width: 7rem;
}

.slide2-bg-img {
	background-image: url('../../../src/assets/images/57193.jpg') ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: aliceblue;
}

.slide3-bg-img {
	background-image: url("../../../src/assets/images/wal23.jfif");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: whitesmoke;
}

.slide4-bg-img {
	background-image: url('../../../src/assets/images/wal27.JPG')  ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
}

.test2 {
//background: #33031e!important;
// background-image: url("../../../src/assets/images/wal16.jpg");
// -webkit-background-size: cover;
// -moz-background-size: cover;
// background-size: cover;
}



.slide1-text {
    color : black;
    font-family: cursive;
    // font-variant: unicase;
	font-size: 60px;
}

h1 {
	font-family: 'Lobster', cursive;
    font-size: 40px;
  }
h1, h2 {
    color: yellow;
    text-shadow: 1px 0 0 gray, -1px 0 0 gray, 0 1px 0 gray, 0 -1px 0 gray, 1px 1px gray, -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray;
}

// .p {
// 	font-size: 16px;
// }

.slide2-text {
	font-style: italic;
}

.slide3-text {
	font-style: italic;
}

.cardconteudo {
    background: rgba(255,255,255,0.5);
}

.card-bg {
	background-color: transparent;
	color:white;
}

.shadow-red{
	box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
	border-radius: 5px;
}

.para {
	font-size: 16px;
}

ion-grid {
    height: 70%;
  
    ion-row {
      height: 30%;
    }
}

// @media screen and (max-width: 300px) {
// 	.p {
// 		font-size: 16px;
// 	}
// }


// ===============================Animation-test=============================================================
// .html {
// 	height: 100%;
// 	max-height: 600px; 
// 	width: 1000px;
// 	background-color: hsla(200,40%,30%,.4);
// 	background-image:		
// 		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
// 		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
// 		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
// 		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
// 		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
// 	background-repeat: repeat-x;
// 	background-position: 
// 		0 20%,
// 		0 100%,
// 		0 50%,
// 		0 100%,
// 		0 0;
// 	background-size: 
// 		2500px,
// 		800px,
// 		500px 200px,
// 		1000px,
// 		400px 260px;
// 	animation: 50s para infinite linear;
// 	}

// @keyframes para {
// 	100% {
// 		background-position: 
// 			-5000px 20%,
// 			-800px 95%,
// 			500px 50%,
// 			1000px 100%,
// 			400px 0;
// 		}
// 	}