<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ioncontent-bg">
  <!-- <div class="center animated zoomIn">
    <h1>Beautiful App</h1>
    <h2>Fast, Easy. Cheap .</h2>
  </div> -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="">Welcome</h1><br />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 style="margin-top: -55px;">to</h1>
            <!-- <input type="image" src="../assets/images/tic_1.jpg"  class="slide-img"> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1  style="margin-top: 55px;">Tic Tac Toe</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="">Game</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide2-bg-img">
      <ion-card class="card-bg">
        <ion-card-content class="">
          <ion-grid class="slide2-text">
            <ion-row>
              <ion-col>
                <ion-header>
                  <h1>History of Tic-Tac-Toe</h1>
                </ion-header>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="para">
                  An early variation of the game was played in the Roman Empire, around the 1st century B.C. It was
                  called
                  "terni lapilli," which means "three pebbles at a time." The game's grid markings have been found
                  chalked
                  all over Roman ruins. Evidence of the game was also found in ancient Egyptian ruins.

                  The first print reference to "noughts and crosses," the British name for the game, appeared in 1864.
                  The
                  first print reference to a game called "tick-tack-toe" occurred in 1884 .
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide3-bg-img">
      <ion-card class="card-bg">
        <ion-card-content class="">
          <ion-grid class="slide3-text">
            <ion-row>
              <ion-col>
                <ion-header>
                  <h1>Gameplay</h1>
                </ion-header>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="para">The goal of tic-tac-toe is to be the first player to get three in a row on a 3-by-3 grid .


                  To start, one player draws a board, creating a grid of squares, usually 3-by-3 .

                  In a 3-by-3 grid game, the player who is playing "X" always goes first. Players alternate placing Xs
                  and
                  Os on the board until either player has three in a row, horizontally, vertically, or diagonally or
                  until
                  all squares on the grid are filled. If a player is able to draw three Xs or three Os in a row, then
                  that
                  player wins. If all squares are filled and neither player has made a complete row of Xs or Os, then
                  the
                  game is a draw.

                  One of the game's best strategies involves creating a "fork," which is placing your mark in such a way
                  that you have the opportunity to win two ways on your next turn. Your opponent can only block one,
                  thereby, you can win after that.</p>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-button size="large">
                Continue
                <ion-icon slot="end" name="play-sharp"></ion-icon>
              </ion-button>
            </ion-row> -->
            <!-- <ion-row>
              <ion-col>
                <ion-button size="small" class="shadow-red" shape="round" routerLink="/options">
                  Continue
                  <ion-icon slot="end" name="play-sharp"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row> -->
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide4-bg-img">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Ready</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>To</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>Play</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button size="large" shape="round" class="fancy-button" routerLink="/options">
              Continue
              <ion-icon slot="end" name="play-sharp"></ion-icon>
            </ion-button>
            <!-- <ion-button expand="full" class="shadow-red" shape="round">
              Continue
              <ion-icon slot="end" name="play-sharp"></ion-icon>
            </ion-button>
            <ion-button expand="full" class="shadow-red" shape="round">Signup with</ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-slide>
  </ion-slides>


  <!-- <div class ="html">

  </div> -->

</ion-content>