<ion-toolbar color="danger">
  <ion-buttons slot="start" class="backbtn" [routerLink]="['/options']">
    <ion-img src='../../assets/images/back6.png'></ion-img>
  </ion-buttons>
  <h1>Sign in</h1>
</ion-toolbar>

<ion-content color="secondary">
  <ion-card >
    <ion-card-content>
      <form  [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img style="height: 60px;" src='../../assets/images/avatar2.png'></ion-img>
            <!-- <span style="color: cornflowerblue;">SIGN IN</span> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
              <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type = "password" formControlName="password"></ion-input>
              <div *ngIf="(password.invalid && password.touched) || password.dirty">
                <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 10px;">
          <ion-col size="6">
          </ion-col>
          <ion-col size="6">
              <a href="javascript:void(0);" [routerLink]="['/forgot']">
                Forgot password?
              </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type = "submit" expand = full size=large shape="round">
              LOGIN
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="divider line one-line">or</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="no-account">Dont have an account?</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="no-account">
            <a href="javascript:void(0);" [routerLink]="['/register']">
              Sign up
            </a>
          </span>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
      <!-- <div *ngIf="skeletontext" class="ion-padding custom-skeleton">
        <ion-skeleton-text *ngFor="let i of arr" animated style="width: 100%"></ion-skeleton-text>
       </div> -->
    </ion-card-content>
  </ion-card>

  
  
 
</ion-content>
