.ioncontent-bg {
    // --background: url("/assets/images/tic1.jpg") 0 0/100% 100% no-repeat;
    // --background: url("/assets/images/avatar1.gif") 0 0/100% 100% no-repeat;
    vertical-align: middle;
//   width: 50px;
  height: 200px;
//   border-radius: 50%;
  }

  .header-wrapper {
    //   height: 200px;
      background-color: yellow;
  }

  .label{
    font-size: 20px;
    color: red;
  }